**/charts
**/values
**/crds
**/*.tgz
**/*.tfvars
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/chorus.plan
**/*.plan
**/*_output.yaml
**/*output.yaml
**/tmp
**/.terraform.lock.hcl
**/*.tfstate.lock.info
.env