APP_NAME=${didata_app_name}
APP_ENV=production
APP_KEY=base64:${didata_app_key}
APP_DEBUG=false
APP_URL=${didata_app_url}
USE_APP_URL_FOR_HTTP=true

LOG_CHANNEL=daily
ENABLE_LOG_VIEWER=true

DB_CONNECTION=mysql
DB_HOST=${didata_db_host}
DB_PORT=3306
DB_DATABASE=${didata_db_database}
DB_USERNAME=${didata_db_username}
DB_PASSWORD=${didata_db_password}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
JWT_TTL=120
MIX_PUSHER_APP_KEY="$${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="$${PUSHER_APP_CLUSTER}"

IMPORT_MAX_FILE_SIZE=204800
UPLOAD_MAX_FILE_SIZE=204800

JWT_SECRET=${didata_jwt_secret}

ENABLE_CORS=true

APP_TIMEZONE=Europe/Zurich

API_RATE_LIMIT_PER_MINUTE=10000