{
    auth_mode: "oidc_auth",
    primary_auth_mode: "true",
    oidc_name: "Keycloak",
    oidc_endpoint: "${oidc_endpoint}",
    oidc_client_id: "${oidc_client_id}",
    oidc_client_secret: "${oidc_client_secret}",
    oidc_groups_claim: "groups",
    oidc_admin_group: "${oidc_admin_group}",
    oidc_scope: "openid,profile,offline_access,email,groups",
    oidc_verify_cert: "false",
    oidc_auto_onboard: "true",
    oidc_user_claim: "name"
}