daemon.jwt.secret: ${daemon_jwt_secret}
daemon.metrics.authentication.enabled: ${daemon_metrics_authentication_enabled}
daemon.metrics.authentication.username: ${daemon_metrics_authentication_username}
daemon.metrics.authentication.password: ${daemon_metrics_authentication_password}
daemon.private_key: |
${{daemon_private_key | nindent 2 }}
storage.datastores.chorus.password: ${storage_datastores_chorus_password}

clients:
  k8s_client:
    is_watcher: ${k8s_client_is_watcher}
    api_server: ${k8s_client_api_server}
    ca: |
${{k8s_client_ca | nindent 6 }}
    token: ${k8s_client_token}
    image_pull_secrets:
%{ for s in k8s_client_image_pull_secrets ~}
    - registry: ${s.registry}
      username: ${s.username}
      password: ${s.password}
%{ endfor ~}

services.authentication_service.modes.keycloak.openid.client_secret: ${keycloak_openid_client_secret}
services.steward.user.password: ${steward_user_password}