name: Terraform Format

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  terraform-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Run terraform fmt
        run: terraform fmt -check -recursive 
